/*ITIS 3135 Activity 2 css file*/



body
{
	width: 750px;
	margin: 0 auto;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}
table tr:nth-child(even) {
background-color: #777;
color: #fff; 
}
thead
{
	background-color: green;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: lightgreen;
}
